@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Unbounded:wght@200..900&display=swap');

body {
   background-color: #0E1014;
   color: #F5F5F5F5;
   width: 100vw;
   height: 100vw;
}

main {
    margin: 0 auto;
}

header img {
    display: block;
    margin: 4.6em 0 0 10em;
}

section {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 2em;
    margin: 4em auto;
    width: 60%;
}

section img {
    width: 792px;
    height: 446px;
    margin: 0 auto;
}

h1 {
    font-size: 80px;
    font-family: 'Unbounded', sans-serif;
    font-weight: 700;
    font-display: swap;
    line-height: 1em;;
}

h1 span {
    color: #9747FF;
}


p {
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.2em;
    
}

a {
    color: #F5F5F5;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    background-color: #9747FF;
    /* width: 340px;
    height: 66px; */
    border-radius: 36px;
    display: block;
    padding: 24px 48px;
    margin: 0 auto;
}

a:hover{
    background-color: #8233E8;
}


@media (max-width: 768px) {

    header img {
        margin: 65px 0 0 60px;
    }

    section {
        width: 80%;
    }
    

    section img {
    width: 624px;
    height: 446px;
}
}

@media (max-width: 375px) {
    header img {
        margin: 32px 0 0 16px;
    }

    section {
        width: 90%;
    }

    h1 {
        font-size: 40px;
    }

    p {
        font-size: 20px;
    }

    a {
        font-size: 20px;
        width: 251px;
    }

    section img {
        width: 332px;
        height: 230px;
    }

} 